# Coding Exercises (Part 4)

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also watch the __solutions videos__ or check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Pandas: Intermediate Topics

### Exercise 4: Index Operations

In [1]:
#run the cell!
import pandas as pd

In [2]:
#run the cell!
listings = pd.read_csv("listings.csv")

In [3]:
#run the cell!
listings.head()

,Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

In [4]:
#run the cell!
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6852 entries, 0 to 6851
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      6852 non-null   object
 1   Exchange    6852 non-null   object
 2   Name        6852 non-null   object
 3   Last_Price  6745 non-null   float64
 4   Market_Cap  5954 non-null   float64
 5   ADR TSO     140 non-null    float64
 6   IPO_Year    3105 non-null   float64
 7   Sector      5309 non-null   object
 8   Industry    5309 non-null   object
dtypes: float64(4), object(5)
memory usage: 481.9+ KB

31. __Select__ the __index__ (row labels) of the DataFrame __listings__! What __kind of index__ do we have?

In [5]:
listings.index

RangeIndex(start=0, stop=6852, step=1)

ItÂ´s a ... RangeIndex!

32. __Set__ the __"Symbol"__ column as the __new index__ of listings (save the changes)!

In [6]:
listings.set_index("Symbol", inplace = True)

33. __Check__ whether the new index contains __unique values only__ (no duplicates)! Is this the case?

In [7]:
listings.index.is_unique

False

No, apparently, there are duplicate entries!

34. __Get__ the __frequency/Counts__ of all unique values in the index! What is the __most frequent__ value(s)?

In [8]:
listings.index.value_counts()

EGHT      2
PGTI      2
GOLD      2
LLEX      2
MSG       2
AMOV      2
CDOR      2
UNFI      2
QGEN      2
RRD       2
NCLH      2
SAVE      2
CHAP      1
PSMT      1
GGN^B     1
FBNC      1
THG       1
IOR       1
MVIS      1
KE        1
SKOR      1
ISHG      1
ANAT      1
UTSI      1
CARO      1
BCH       1
PHIO      1
WWR       1
SAP       1
LBTYK     1
         ..
BHF       1
NEU       1
REPL      1
LPTX      1
MFA^B     1
EXEL      1
LTXB      1
CHEKZ     1
EHC       1
TRXC      1
MO        1
OPES      1
EML       1
HEI.A     1
AXO       1
PBIP      1
ABEV      1
ENR       1
WVFC      1
AIG.WS    1
ACM       1
MFG       1
YLDE      1
CEPU      1
PFN       1
FLEX      1
ORN       1
MDCA      1
KELYB     1
ESNT      1
Name: Symbol, Length: 6840, dtype: int64

There are many Symbols that appear ... 2 times!

35. __Set__ the __name__ of the index to __"Ticker_Symbol"__!

In [9]:
listings.index.name = "Ticker_Symbol"

In [10]:
#run the cell!
listings.head()

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Ticker_Symbol,,,,,,,,
A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

36. __Reset__ the __index__ to a RangeIndex and __save__ the change!

In [11]:
listings.reset_index(inplace= True)

In [12]:
#run the cell!
listings.head()

,Ticker_Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

37. __Inspect__ the __column Index__!

In [13]:
listings.columns

Index(['Ticker_Symbol', 'Exchange', 'Name', 'Last_Price', 'Market_Cap',
       'ADR TSO', 'IPO_Year', 'Sector', 'Industry'],
      dtype='object')

38. __Rename__ the column __Labels__ "Name" and "Market_Cap" to "Company" and "MCAP"! __Fill in  the gaps__!

In [14]:
listings.rename(columns = {"Name":"Company", "Market_Cap":"MCap"}, inplace = True)

In [15]:
#run the cell!
listings.head()

,Ticker_Symbol,Exchange,Company,Last_Price,MCap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

# Well Done!

------------------------------------------------------------

# Hints (Spoiler!)

31. index attribute

32. set_index() method; inplace parameter

33. call is_unique attribute on index

34. call value_counts() method on index

35. listings.index.---  =  "Ticker_Symbol"

36. reset_index() method; inplace parameter

37. columns attribute

38. rename() method; columns parameter