# basic operations

## creat new hashtables

In [1]:
# creat hashTable by array
hashTable=[''] * 4
hashTable

['', '', '', '']

In [17]:
# create hashTable by Dictionary
mapping = {}
mapping

{}

## add elements

In [ ]:
# O(1)

In [6]:
# for arrays
hashTable[0] = "array1"
hashTable[1] = "array2"
hashTable[2] = "array3"
hashTable[3] = "array4"
hashTable

['array1', 'array2', 'array3', 'array4']

In [19]:
# for dictionaries
# create keys automatically
mapping["a"] = "array1"
mapping["b"] = "array2"
mapping["c"] = "array3"
mapping["d"] = "array4"
mapping

{'a': 'array1', 'b': 'array2', 'c': 'array3', 'd': 'array4'}

## update elements

In [21]:
# O(1)
hashTable[1] = "update1"
mapping["b"] = "update2"

In [22]:
print("hashTable", hashTable)
print("mapping", mapping)

hashTable ['array1', 'update1', 'array3', 'array4']
mapping {'a': 'array1', 'b': 'update2', 'c': 'array3', 'd': 'array4'}

## remove elements

In [ ]:
# method 1: hashTable.pop(key)

# method 2: del hashTable[key]

In [28]:
# O(1)
hashTable

['', 'array3', 'array4']

In [29]:
# for arrays
hashTable.pop(1)
hashTable

['', 'array4']

In [30]:
mapping

{'a': 'array1', 'b': 'update2', 'c': 'array3', 'd': 'array4'}

In [33]:
del hashTable[1]
hashTable

['']

In [34]:
mapping

{'a': 'array1', 'c': 'array3', 'd': 'array4'}

In [31]:
# for dictionaries
mapping.pop("b")
mapping

{'a': 'array1', 'c': 'array3', 'd': 'array4'}

In [32]:
hashTable

['', 'array4']

In [36]:
del mapping["c"]
mapping

{'a': 'array1', 'd': 'array4'}

## iteratation

In [ ]:
# O(N)

In [37]:
# dictionary iteration
for k, v in mapping.items():
    print("key", k)
    print("value", v)

key a
value array1
key d
value array4

In [38]:
# array interation
for i, v in enumerate(hashTable):
    print("index:",i)
    print("values",v)
    print("---------")

index: 0
values
---------

## check key

In [ ]:
# O(1)

In [39]:
mapping

{'a': 'array1', 'd': 'array4'}

In [40]:
'a' in mapping

True

In [41]:
# syntax about dictionaries only check the key
'array1' in mapping

False

## size of hashTable

In [42]:
mapping

{'a': 'array1', 'd': 'array4'}

In [43]:
len(mapping)

2

# relevent practice

## leetcode 217

https://leetcode-cn.com/problems/contains-duplicate/

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

__My Solutions:__

In [ ]:
# method 1
O(N^2)

In [ ]:
class Solution(object):
    def containsDuplicate(self, nums):
        """
        :type nums: List[int]
        :rtype: bool
        """
        while nums:
            temp = nums[0]
            nums.remove(temp)
            if temp in nums:
                return True
            else:
                continue
        return False

In [ ]:
# method 2
# O(N)

In [ ]:
class Solution(object):
    def containsDuplicate(self, nums):
        """
        :type nums: List[int]
        :rtype: bool
        """
        nums_set = set(nums)
        return len(nums_set) == len(nums)
#         if len(nums_set) == len(nums):
#             return False
#         else: 
#             return True

In [ ]:
# method 3
# O(NlgN)

In [ ]:
class Solution(object):
    def containsDuplicate(self, nums):
        """
        :type nums: List[int]
        :rtype: bool
        """
        nums.sort()
        if len(nums) == 0 or len(nums) == 1:
            return False
        previous = nums[0]
        for x in nums[1:]:
            if x == previous:
                return True
            else:
                previous = x
        return False

## leetcode 389

https://leetcode-cn.com/problems/find-the-difference/

You are given two strings s and t.

String t is generated by random shuffling string s and then add one more letter at a random position.

Return the letter that was added to t.

__My Solutions:__

In [ ]:
# method 1
# O(M*N*M)

In [35]:
class Solution(object):
    def findTheDifference(self, s, t):
        """
        :type s: str
        :type t: str
        :rtype: str
        """
        s = list(s)
        t = list(t)
        for x in t:
            if x in s:
                s.remove(x)
            else:
                return x

In [ ]:
# method 2
# O(M*N)

In [117]:
class Solution(object):
    def findTheDifference(self, s, t):
        """
        :type s: str
        :type t: str
        :rtype: str
        """
        if len(s) == 0:
            return t
        dic_s = {}
        dic_t = {}
        for x in s:
            if x not in dic_s.keys():
                dic_s[x] = 1
            else:
                dic_s[x] += 1
        for x in t:
            if x not in dic_t.keys():
                dic_t[x] = 1
            else:
                dic_t[x] += 1
        for x in dic_t.keys():
            if dic_t.get(x) != dic_s.get(x):
                return x
            else:
                continue
#             if x not in dic_s.keys():
#                 return x
#             elif dic_t.get(x) != dic_s.get(x):
#                 return x
#             else:
#                 continue

## leetcode 496

https://leetcode-cn.com/problems/next-greater-element-i/

The next greater element of some element x in an array is the first greater element that is to the right of x in the same array.

You are given two distinct 0-indexed integer arrays nums1 and nums2, where nums1 is a subset of nums2.

For each 0 <= i < nums1.length, find the index j such that nums1[i] == nums2[j] and determine the next greater element of nums2[j] in nums2. If there is no next greater element, then the answer for this query is -1.

Return an array ans of length nums1.length such that ans[i] is the next greater element as described above.

__My Solutions:__

In [ ]:
class Solution(object):
    def nextGreaterElement(self, nums1, nums2):
        """
        :type nums1: List[int]
        :type nums2: List[int]
        :rtype: List[int]
        """
        result = []
        stack = []
        stack.append(nums2[0])
        dic = {}
        for x in nums2[1:]:
            if x < stack[-1]:
#                 stack.append(x)
            else:
                while stack and stack[-1] < x:
                    dic[stack.pop()] = x
#                 stack.append(x)
            stack.append(x)
        for x in stack:
            dic[x] = -1
        for x in nums1:
            result.append(dic.get(x))
        return result

# Recap

hashTable is of __key and value__ form

hashTable is realized by __lists or dictionaries__

## get duplicate value with pandas

step1: df.value_counts()

step2: get boolean __series__

step3: df[boolean_series]

In [123]:
import pandas as pd
a = [274, -735, -911, 80, 454, -511, 922, -775, 985, -669, -463, -896, -629, -586, 910, -361, 288, -375, 88, 556, -578, -406, -87, 25, 377, -635, -445, -289, 646, -962, -
     487, -924, -968, -962, 502, 36, 129, -611, 54, -27, -496, 915, -84, -782, 349, 678, 332, -114, 345, 14, 119, 710, 821, -194, 988, 38, -369, 409, -559, -529, -298, -593, 705]

In [124]:
a = pd.DataFrame(a)
a

      0
0   274
1  -735
2  -911
3    80
4   454
..  ...
58 -559
59 -529
60 -298
61 -593
62  705

[63 rows x 1 columns]

In [125]:
a.value_counts()

-962    2
-968    1
 349    1
 14     1
 25     1
       ..
-361    1
-298    1
-289    1
-194    1
 988    1
Length: 62, dtype: int64

In [128]:
# get boolean series
location = a.loc[:,0] == -962 
location

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Name: 0, Length: 63, dtype: bool

In [131]:
a.loc[location]

      0
29 -962
33 -962

## Leetcode 389

In [ ]:
# it is okay to get a key that does not exist

# the result will be None

In [119]:
a={"a":1,"b":2}

In [121]:
print(a.get("c"))

None

## LeetCode 217

In [ ]:
# bad coding
   if len(nums_set) == len(nums):
        return False
    else:
        return True

In [ ]:
# good coding
return len(nums_set) == len(nums)